body {
    margin: 0;
    min-width: 250px;
    color: #f0f0f0;
    font-family: "Roboto", sans-serif;
    background: rgb(205,17,179);
    background: linear-gradient(90deg, rgba(205,17,179,1) 0%, rgba(121,8,233,1) 100%);
}